/* navigation starts */
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-button{
    border: 1px solid black ;
    padding: 15px 30px ;
    background-color: pink;
    color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.nav-button:hover{
    color: pink;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
.nav-links li a{
    text-decoration: none;
}
.nav-links li a:hover{
    color: pink;
    transition: all 0.9s ease-in-out;
}
.nav-services:hover .nav-sblinks{
    transform: scale(1);
    transition: all 0.9s ease-in-out;
}
.nav-sblinks{
    transform:translateX(1000px);
    position: fixed;
    top: 20%;
    background-color: pink;
    padding: 10px;
}